.blueBanner {
  background-color: #28628c;
  width: auto;
}

.whiteBanner {
  background-color: white;
  width: auto;
}

.logo {
  height: 50px;
  padding: 20px 150px;
}

/* @media (max-width: 480px) {
  .logo {
    height: 60px;
    justify-content: center;
  }
} */
